<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Groupie Trackers</title>
</head>

<body>
    <div class="header">
        <h1>Groupie Trackers</h1>
        <div class="search-box">

            <form method="GET">
                <input type="text" name="query" placeholder="search for a band or member">
                <button type="submit">Search</button>
            </form>
        </div>
    </div>


    <div class="grid">
        {{ range . }}
        <div class="card">
            <img src="{{ .Image }}" alt="{{ .Name}}">
            <div class="name">{{ .Name }} </div>
            <div class="info-row">Formed: {{ .CreationDate }} &bull; First Album: {{ .FirstAlbum} } </div>

            <span class="section-label">Members</span>
            <div class="member-container">
                {{ range .Members }}
                <span class="member-tag"> {{ . }} </span>
                {{ end }}
            </div>

            <span class="section-label">Concert Dates and Location</span>
            <div class="concert-scroll">
                {{ range $loc, $dates :=.Relations }}
                <span class="loc">{{ $loc | formatLoc}} </span>
                {{ range $dates}}
                <span class="date">&bull; {{ . }}</span>
                {{ end }}
                {{ else}}
                <p style="color: #06e619; font-size: 0.8rem;" >No concert data.</p>
                {{ end }}
            </div>
        </div>
        {{end}}
    </div>

</body>

</html>